@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700&display=swap');

/* font-family: 'Noto Sans KR', sans-serif; */


*{margin:0; padding: 0;}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:12px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
    color:rgb(105,105,105);
    -webkit-font-smoothing:antialiased;
}

ul{list-style: none;}

a:link, a:visited, a:active{
    text-decoration: none;
    color:rgb(105,105,105);
}
a:hover {
    text-decoration: underline;
    color:rgb(19,19,19);
    cursor: pointer;
}

#home_header {
    width: 155px; 
    padding:30px;
    position: fixed;
    top:0; left: 0;

}

#gnb figure img {
    width: 155px;
}

.gnb_menu { padding: 30px 0 0 0;}
.gnb_menu li { margin:0 0 8px;}
#gnb_shop {
    transition: all 0.4s;
    height: 0;
    overflow: hidden;
}
#gnb_shop a {
    font-size: 11px;
    line-height: 24px;
    padding: 0 0 0 10px;
}

#gnb_shop p:first-child {
    margin: 10px 0 0;
}

.work_lnb_menu { padding: 30px 0 0 0;}
.work_lnb_menu li { margin:0 0 8px;}

#header_info{
    position: fixed; bottom:0; left:0;
    width: 158px; 
    padding:30px;

}
#header_info figure{
    text-align: center;
    margin:16px 0;
}
#header_info figure img{
    width: 18px;
    margin: 0 10px;
}
#header_info p{
    text-align: center;
    line-height: 18px;
    font-size:10px;
}

#mobile_header {
    display: none;
}

main {
    width: calc(100% - 215px);
    background-color: black; 
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 215px;
    overflow: hidden;
    box-sizing:border-box
}

/* img 사용 CSS */

/*article div { width:338px; height: 261px; position: relative; top:0; left:0;}

.post_wrap { 
    width:338px; height: 261px; position: relative; top:0; left:0;
}

.post_text { 
    width:338px; height: 261px; position: absolute; top:0; left:0;
    box-sizing: border-box; overflow: hidden; padding : 261px 0 0 30px;
}

.post_text:hover { 
    background-color: rgba(255,72,31,0.95);
    padding : 130px 0 0 30px;
    text-decoration: none;
}

article figure {
    width:338px; height: 261px;
}
article figure img {
    width: 338px; height: 261px; opacity: 1;
}

article h1 {
    display: block; color:white;
    font-size: 15px; line-height: 26px; width: 278px; letter-spacing: 1px;
    text-transform: uppercase; opacity: 1;
}


article h2 {
    display: block; color:white;
    font-size: 12px; line-height: 26px; width: 278px; opacity: 1;
}

article { width: 338px; height: 261px;} */


article { 
    width: 20%; height: 13.7vw; 
    background: no-repeat center center;
    background-size: cover;
    /* transition: all 1s; */
    overflow: hidden;
}

article h1 {
    display: block; color:white;
    font-size: 15px; line-height: 26px; width: 200px; letter-spacing: 1px;
    text-transform: uppercase; opacity: 1;
    position: absolute;
    bottom: -100px; left: 20px;
    transition: all 0.4s;
}


article h2 {
    display: block; color:white;
    font-size: 10px; line-height: 26px; width: 200px; opacity: 1;
    position: absolute;
    bottom: -130px; left: 20px;
    transition: all 0.4s;
}

#post_001 {
    background-image: url(../img/front2.jpg);
}


.post_text { 
    box-sizing: border-box;
    width: 100%; height: 100%; 
    /* padding: 300px 0 0 30px; */
    display: block;
    overflow: hidden;
    position: relative;
    transition: all 0.4s;
}

.post_text:hover { 
    display: block;
    /* padding: 90px 0 0 30px; */
    text-decoration: none;
    background: rgba(255,72,31,0.9);
}

.post_text:hover h1 {
    bottom: 50px;
}

.post_text:hover h2 {
    bottom: 20px;
}

#post_001 a:hover { 
    background: rgba(255,72,31,0.9);
}



#post_002 {
    background-image: url(../img/GMF_front.gif);
}

#post_003 {
    background-image: url(../img/alpha.jpg);
}

#post_004 {
    background-image: url(../img/F1.jpg);
}

#post_005 {
    background-image: url(../img/s-bear_front.jpg);
}

#post_006 {
    background-image: url(../img/F-.jpg);
}

#post_007 {
    background-image: url(../img/front.jpg);
}

#post_008 {
    background-image: url(../img/F.jpg);
}

#post_009 {
    background-image: url(../img/front-.jpg);
}

#post_010 {
    background-image: url(../img/reebok.jpg);
}

#post_011 {
    background-image: url(../img/baristar_front.jpg);
}

#post_012 {
    background-image: url(../img/p38_re.jpg);
}

#post_013 {
    background-image: url(../img/GMF_front041.gif);
}

#post_014 {
    background-image: url(../img/p37_re.gif);
}

#post_015 {
    background-image: url(../img/p36_re.gif);
}

#post_016 {
    background-image: url(../img/p35_re.jpg);
}

#post_017 {
    background-image: url(../img/pyl_front_re.gif);
}

#post_018 {
    background-image: url(../img/bomb_front_re.gif);
}

#post_019 {
    background-image: url(../img/p27_re.jpg);
}

#post_020 {
    background-image: url(../img/p26_re.jpg);
}

#post_021 {
    background-image: url(../img/lotte_front_re.gif);
}

#post_022 {
    background-image: url(../img/RS_front_re.gif);
}

#post_023 {
    background-image: url(../img/myhero_front_re02.gif);
}

#post_024 {
    background-image: url(../img/p25_re.gif);
}

#post_025 {
    background-image: url(../img/reportn_front_re.jpg);
}

#post_026 {
    background-image: url(../img/save_front02_re.gif);
}

#post_027 {
    background-image: url(../img/oo_front_re.gif);
}

#post_028 {
    background-image: url(../img/p39_re.gif);
}

#post_029 {
    background-image: url(../img/k11_front_02_re.gif);
}

#post_030 {
    background-image: url(../img/PPbysml_front_re.gif);
}

#post_031 {
    background-image: url(../img/p30_re.jpg);
}

#post_032 {
    background-image: url(../img/p23_re.jpg);
}

#post_033 {
    background-image: url(../img/pain_front_re.gif);
}

#post_034 {
    background-image: url(../img/p22_re.jpg);
}

#post_035 {
    background-image: url(../img/loner_front_re.gif);
}

#post_036 {
    background-image: url(../img/p20_re.gif);
}

#post_037 {
    background-image: url(../img/5050_front_re.gif);
}

#post_038 {
    background-image: url(../img/swbk_front_re.jpg);
}

#post_039 {
    background-image: url(../img/kinki_front_re.gif);
}

#post_040 {
    background-image: url(../img/p32_re.gif);
}

#post_041 {
    background-image: url(../img/03bysml_front_re.gif);
}

#post_042 {
    background-image: url(../img/p19_re.jpg);
}

#post_043 {
    background-image: url(../img/p17_re.gif);
}

#post_044 {
    background-image: url(../img/idn_front02_re.gif);
}

#post_045 {
    background-image: url(../img/p33_re.gif);
}

#post_046 {
    background-image: url(../img/NSWspace_front_re.jpg);
}

#post_047 {
    background-image: url(../img/p15_re.jpg);
}

#post_048 {
    background-image: url(../img/me2day_front_re.gif);
}

#post_049 {
    background-image: url(../img/seoul_front_re.gif);
}

#post_050 {
    background-image: url(../img/p10_re.jpg);
}

#post_051 {
    background-image: url(../img/p12_re.jpg);
}

#post_052 {
    background-image: url(../img/p11_re.jpg);
}

#post_053 {
    background-image: url(../img/p09_re.jpg);
}

#post_054 {
    background-image: url(../img/artmuseum_front_re.gif);
}

#post_055 {
    background-image: url(../img/TAF_front_re.gif);
}

#post_056 {
    background-image: url(../img/p06_re.gif);
}

#post_057 {
    background-image: url(../img/hello_front02_re.gif);
}

#post_058 {
    background-image: url(../img/p03_re.gif);
}

#post_059 {
    background-image: url(../img/p04_re.jpg);
}

#post_060 {
    background-image: url(../img/p02_re.jpg);
}

#post_061 {
    background-image: url(../img/p01_re.jpg);
}

#post_002 a:hover { 
    background: rgba(255,221,0,0.95);
}

#post_003 a:hover { 
    background: rgba(204,204,204,0.95);
}

#post_004 a:hover { 
    background: rgba(242,51,51,0.95);
}

#post_005 a:hover { 
    background: rgba(53,87,143,0.95);
}

#post_006 a:hover { 
    background: rgba(74,149,230,0.95);
}

#post_007 a:hover { 
    background: rgba(255,95,87,0.95);
}

#post_008 a:hover { 
    background: rgba(18,42,120,0.95);
}

#post_009 a:hover { 
    background: rgba(17,17,17,0.95);
}

#post_010 a:hover { 
    background: rgba(253,255,64,0.95);
}

#post_011 a:hover { 
    background: rgba(241,90,34,0.95);
}

#post_012 a:hover { 
    background: rgba(161,221,73,0.95);
}

#post_013 a:hover { 
    background: rgba(34,194,192,0.95);
}

#post_014 a:hover { 
    background: rgba(255,221,0,0.95);
}

#post_015 a:hover { 
    background: rgba(177,245,255,0.95);
}

#post_016 a:hover { 
    background: rgba(0,160,248,0.95);
}

#post_017 a:hover { 
    background: rgba(255,93,78,0.95);
}

#post_018 a:hover { 
    background: rgba(37,56,122,0.95);
}

#post_019 a:hover { 
    background: rgba(239,102,88,0.95);
}

#post_020 a:hover { 
    background: rgba(255,241,106,0.95);
}

#post_021 a:hover { 
    background: rgba(179,208,54,0.95);
}

#post_022 a:hover { 
    background: rgba(254,0,0,0.95);
}

#post_023 a:hover { 
    background: rgba(92,201,206,0.95);
}

#post_024 a:hover { 
    background: rgba(169,219,216,0.95);
}

#post_025 a:hover { 
    background: rgba(250,112,119,0.95);
}

#post_026 a:hover { 
    background: rgba(246,28,0,0.95);
}

#post_027 a:hover { 
    background: rgba(255,241,0,0.95);
}

#post_028 a:hover { 
    background: rgba(17,17,17,0.95);
}

#post_029 a:hover { 
    background: rgba(218,219,203,0.95);
}

#post_030 a:hover { 
    background: rgba(17,17,17,0.95);
}

#post_031 a:hover { 
    background: rgba(17,17,17,0.95);
}

#post_032 a:hover { 
    background: rgba(0,162,130,0.95);
}

#post_033 a:hover { 
    background: rgba(214,193,148,0.95);
}

#post_034 a:hover { 
    background: rgba(236,63,63,0.95);
}

#post_035 a:hover { 
    background: rgba(17,17,17,0.95);
}

#post_036 a:hover { 
    background: rgba(89,195,195,0.95);
}

#post_037 a:hover { 
    background: rgba(172,207,227,0.95);
}

#post_038 a:hover { 
    background: rgba(171,109,77,0.95);
}

#post_039 a:hover { 
    background: rgba(52,189,208,0.95);
}

#post_040 a:hover { 
    background: rgba(0,139,208,0.95);
}

#post_041 a:hover { 
    background: rgba(1,184,40,0.95);
}

#post_042 a:hover { 
    background: rgba(253,160,54,0.95);
}

#post_043 a:hover { 
    background: rgba(88,60,38,0.95);
}

#post_044 a:hover { 
    background: rgba(93,254,109,0.95);
}

#post_045 a:hover { 
    background: rgba(166,166,166,0.95);
}

#post_046 a:hover { 
    background: rgba(182,0,0,0.95);
}

#post_047 a:hover { 
    background: rgba(232,45,88,0.95);
}

#post_048 a:hover { 
    background: rgba(232,120,128,0.95);
}

#post_049 a:hover { 
    background: rgba(6,192,226,0.95);
}

#post_050 a:hover { 
    background: rgba(254,88,148,0.95);
}

#post_051 a:hover { 
    background: rgba(126,126,126,0.95);
}

#post_052 a:hover { 
    background: rgba(140,105,77,0.95);
}

#post_053 a:hover { 
    background: rgba(250,146,153,0.95);
}

#post_054 a:hover { 
    background: rgba(255,124,0,0.95);
}

#post_055 a:hover { 
    background: rgba(166,202,226,0.95);
}

#post_056 a:hover { 
    background: rgba(67,48,33,0.95);
}

#post_057 a:hover { 
    background: rgba(255,66,0,0.95);
}

#post_058 a:hover { 
    background: rgba(237,26,59,0.95);
}

#post_059 a:hover { 
    background: rgba(202,170,123,0.95);
}

#post_060 a:hover { 
    background: rgba(247,163,14,0.95);
}

#post_061 a:hover { 
    background: rgba(42,203,136,0.95);
}


/* 이상 1440 이하 해상도 */

@media screen and (min-width:961px) and (max-width:1440px) {

    article { 
        width: 25%; height: 17.0vw; 
        background: no-repeat center center;
        background-size: cover;
        /* transition: all 1s; */
        overflow: hidden;
    }
    
    article h1 {
        display: block; color:white;
        font-size: 14px; line-height: 26px; width: 160px; letter-spacing: 1px;
        text-transform: uppercase; opacity: 1;
    }
    
    
    article h2 {
        display: block; color:white;
        font-size: 10px; line-height: 26px; width: 160px; opacity: 1;
    }

    .post_text { 
        box-sizing: border-box;
        width: 100%; height: 100%; 
        /* padding: 300px 0 0 20px; */
        display: block;
        overflow: hidden;
    }
    
    .post_text:hover { 
        /* padding: 40px 0 0 20px; */
        text-decoration: none;
        background: rgba(255,72,31,0.9);
    }
    
    
}

/* 768 이상 960 이하 해상도 - 대략 태블릿 대용 */

@media screen and (min-width:480px) and (max-width:960px) {

    #home_header {display: none;}
    #header_info {display: none;}

    #mobile_header {
        display: block;
        width: 100%;
        padding: 0 ;
        box-sizing: border-box;
        overflow: hidden;
        height: auto;
        position: relative;
        z-index: 999;
    }

    #gnb_m_menu {
        background: rgb(66,66,66);
        color: rgb(221,221,221);
        padding: 0 20px;
        box-sizing: border-box;
        height: 0;
        overflow: hidden;
        width: 100%;
        transition: height 0.4s;
    }

    #gnb_m_menu li {
        border-bottom: 1px solid rgba(221,221,221,0.1);
    }

    /* #gnb_m_menu li:nth-child(5) {
        line-height: 120px;
    } */

    #gnb_m_menu li:last-child {
        border: none;
    }

    #gnb_m_menu li a {
        height: 44px;
        color: rgb(221,221,221);
        line-height: 44px;
        cursor: pointer;
        font-size: 14px;
    }

    #gnb_m_menu li a:hover {
        text-decoration: none;
    }

    #gnb_m_menu li p a {
        height: 36px;
        color: rgb(221,221,221);
        line-height: 36px;
        cursor: pointer;
        margin: 0 0 0 12px;
    }

    #gnb_m_menu li p:last-child {
        margin: 0 0 6px;
    }

    #gnb_m {
        width: 100%;
        height: 66px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
    }

    #gnb_m figure img {
        width: 66px;
        line-height: 66px;
    }

    #gnb_m_button i {
        font-size: 20px;
        line-height: 20px;
        cursor: pointer;
    }

    main {
        width: 100%;
        margin: 0 ;
    }

    article { 
        /* width: 25%; 
        height: 19.3vw;  */
        width: 33.3333%; 
        height: 25.7vw; 
    }
    
    article h1 {
        font-size: 10px; 
        line-height: 18px; 
        width: 160px;
        bottom: 20px;
    }
    
    
    article h2 {
        display: none;
        font-size: 10px; 
        line-height: 26px; 
        width: 160px; 
    }

    /* .post_text { 
        padding: 140px 0 0 20px;
    }
    
    .post_text:hover { 
        padding: 40px 0 0 20px;
    } */
    

}

/* 480 이상 767 이하 해상도 - 폰 가로형 */
/* 
@media screen and (min-width:480px) and (max-width:767px) {

    #home_header {display: none;}
    #header_info {display: none;}

    #mobile_header {
        display: block;
        width: 100%;
        height: 66px;
        padding: 0 30px;
        box-sizing: border-box;
    }

    #gnb_m {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #gnb_m figure img {
        width: 66px;
        line-height: 66px;
    }

    main {
        width: 100%;
        margin: 0 ;
    }

    article { 
        width: 33.3333%; 
        height: 25.7vw; 
    }
    
    article h1 {
        font-size: 10px; 
        line-height: 18px; 
        width: 160px;
    }
    
    
    article h2 {
        display: none;
        font-size: 10px; 
        line-height: 26px; 
        width: 160px; 
    }

    .post_text { 
        padding: 140px 0 0 20px;
    }
    
    .post_text:hover { 
        padding: 40px 0 0 20px;
    }
    
} */



/* 0 이상 479 이하 해상도 - 모바일 세로 대용 */

@media screen and (min-width:0px) and (max-width:479px) {

    #home_header {display: none;}
    #header_info {display: none;}

    #mobile_header {
        display: block;
        width: 100%;
        padding: 0 ;
        box-sizing: border-box;
        overflow: hidden;
        height: auto;
        position: relative;
        z-index: 999;
    }

    #gnb_m_menu {
        background: rgb(66,66,66);
        color: rgb(221,221,221);
        padding: 0 20px;
        box-sizing: border-box;
        height: 0;
        overflow: hidden;
        width: 100%;
        transition: height 0.4s;
    }

    #gnb_m_menu li {
        border-bottom: 1px solid rgba(221,221,221,0.1);
    }

    /* #gnb_m_menu li:nth-child(5) {
        line-height: 120px;
    } */

    #gnb_m_menu li:last-child {
        border: none;
    }

    #gnb_m_menu li a {
        height: 44px;
        color: rgb(221,221,221);
        line-height: 44px;
        cursor: pointer;
        font-size: 14px;
    }

    #gnb_m_menu li a:hover {
        text-decoration: none;
    }

    #gnb_m_menu li p a {
        height: 36px;
        color: rgb(221,221,221);
        line-height: 36px;
        cursor: pointer;
        margin: 0 0 0 12px;
    }

    #gnb_m_menu li p:last-child {
        margin: 0 0 6px;
    }


    /* #mobile_header {
        display: block;
        width: 100%;
        height: 66px;
        padding: 0 20px;
        box-sizing: border-box;
    } */

    #gnb_m {
        width: 100%;
        height: 66px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
    }

    #gnb_m figure img {
        width: 66px;
        line-height: 66px;
    }

    #gnb_m_button i {
        font-size: 20px;
        line-height: 20px;
        cursor: pointer;
    }
    /* i.fas {
        border: 1px solid red;
    } */


    main {
        width: 100%;
        margin: 0 ;
    }

    article { 
        width: 100%; 
        height: 77.2vw; 
    }
    
    article h1 {
        font-size: 12px; 
        line-height: 20px; 
        width: 160px;
        bottom: 20px;
    }
    
    
    article h2 {
        display: none;
        font-size: 10px; 
        line-height: 26px; 
        width: 160px; 
    }

    /* .post_text { 
        padding: 170px 0 0 20px;
    }
    
    .post_text:hover { 
        padding: 60px 0 0 20px;
    }
     */

}